<h1>Issues</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% if (issueData?.issues?.length) { %>
    <% for (const issue of issueData.issues) { %>
    <tr class="issue" data-id="<%= issue.id %>">
        <td class="text-left">
            <%= issue.iid %>
        </td>
        <td class="text-primary">
            <%= issue.title %>
        </td>
        <td class="text-left">
            <%= issue.description %>
        </td>
        <td class="text-left">
            <%= issue.author.name %>
        </td>
        <td class="text-nowrap">
            <a href="./issues/<%= issue.iid %>/close">Close</a>
            <a href="#">Delete</a>
        </td>
    </tr>
    <% } %>
    <% } else { %>
        <tr>
            <td colspan="4" class="text-center text-danger">
                There are no issues to display
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<template id="issuetemplate">
<tr data-id="">
    <td class="text-left">
    </td>
    <td class="text-primary">
    </td>
    <td class="text-left">
    </td>
    <td class="text-left">
    </td>
    <td class="text-nowrap">
        <a href="#">Close</a>
        <a href="#">Delete</a>
    </td>
</tr>
</template>
<script type="module" src="./javascript/getIssues.js"></script>